.material-tabs {
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);

  nav {
    position: relative;
    z-index: 1;
    height: 48px;
    overflow: hidden;
    background: #337ab7;

    .left-fade, .right-fade {
      z-index: 1;
      display: none;
      position: absolute;
      top: 0;
      width: 60px;
      height: 48px;
    }

    .left-arrow, .right-arrow {
      position: absolute;
      top: 0;
      width: 27px;
      height: 48px;
    }

    .left-fade {
      left: 0;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#337ab7+0,337ab7+45,337ab7+100&1+0,1+45,0+100 */
      background: -moz-linear-gradient(left,  rgba(51,122,183,1) 0%, rgba(51,122,183,1) 45%, rgba(51,122,183,0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  rgba(51,122,183,1) 0%,rgba(51,122,183,1) 45%,rgba(51,122,183,0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  rgba(51,122,183,1) 0%,rgba(51,122,183,1) 45%,rgba(51,122,183,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#337ab7', endColorstr='#00337ab7',GradientType=1 ); /* IE6-9 */

      .left-arrow {
        left: 0;
        background: url('../img/chevron-left.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
      }
    }

    .right-fade {
      right: 0;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#337ab7+0,337ab7+55,337ab7+100&0+0,1+55,1+100 */
      background: -moz-linear-gradient(left,  rgba(51,122,183,0) 0%, rgba(51,122,183,1) 55%, rgba(51,122,183,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  rgba(51,122,183,0) 0%,rgba(51,122,183,1) 55%,rgba(51,122,183,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  rgba(51,122,183,0) 0%,rgba(51,122,183,1) 55%,rgba(51,122,183,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00337ab7', endColorstr='#337ab7',GradientType=1 ); /* IE6-9 */

      .right-arrow {
        right: 0;
        background: url('../img/chevron-right.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
      }
    }

    .viewport {
      width: 100%;
      height: 200%;
      overflow: auto;
      overflow-x: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
    }

    ul {
      position: relative;
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-inline-flex;
      display: -webkit-inline-flex;
      display: inline-flex;
      -webkit-flex-flow: row;
      flex-flow: row;
      margin: 0;
      padding: 0;
      outline: none;
      list-style: none;

      li {
        display: block;
        position: relative;
        padding: 12px 16px;
        line-height: 24px;
        color: #eee;
        white-space: nowrap;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;

        &:first-of-type {
          //margin-left: 8px;
        }

        &:last-of-type {
          //margin-right: 8px;
        }

        &.active {
          color: #fff;
        }
      }

      .material-tabs-border {
        position: absolute;
        bottom: 0;
        right: auto;
        width: 0;
        height: 2px;
        background: #eee;
        -webkit-transition: left .25s cubic-bezier(.35, 0, .25, 1), right .125s cubic-bezier(.35, 0, .25, 1);
        -moz-transition: left .25s cubic-bezier(.35, 0, .25, 1), right .125s cubic-bezier(.35, 0, .25, 1);
        transition: left .25s cubic-bezier(.35, 0, .25, 1), right .125s cubic-bezier(.35, 0, .25, 1);
      }
    }
  }

  .tabs {
    position: relative;
    overflow: hidden;
    background: #f6f6f6;
    border: 1px solid #e1e1e1;
    -webkit-transition: all .5s cubic-bezier(.35, 0, .25, 1);
    -moz-transition: all .5s cubic-bezier(.35, 0, .25, 1);
    transition: all .5s cubic-bezier(.35, 0, .25, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

      .tab-content {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        width: 100%;
        padding: 16px;
        color: #212121;
        -webkit-transition: all .5s cubic-bezier(.35, 0, .25, 1);
        -moz-transition: all .5s cubic-bezier(.35, 0, .25, 1);
        transition: all .5s cubic-bezier(.35, 0, .25, 1);
        &.active {
          display: block;
          position: relative;
          -webkit-transform: translateX(0%);
          transform: translateX(0%);

          & ~ .tab-content {
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
          }
        }

      }
  }

  .ripple-wrapper {
    display: block;
    position: absolute;
    background: rgba(238, 238, 238, 0.2);
    border-radius: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }

  .ripple-wrapper.animated {
    animation: ripple 0.65s linear;
    -webkit-animation: ripple 0.65s linear;
    -moz-animation: ripple 0.65s linear;
    -o-animation: ripple 0.65s linear;
  }

  .ripple {
    overflow: hidden;
    position: relative;
    user-select: none;
    outline: none;
  }

  @keyframes ripple {
    100% {
      -webkit-transform: scale(2.5);
      -ms-transform: scale(2.5);
      -o-transform: scale(2.5);
      transform: scale(2.5);
      opacity: 0;
    }
  }

  @-webkit-keyframes ripple {
    100% {
      -webkit-transform: scale(2.5);
      -ms-transform: scale(2.5);
      -o-transform: scale(2.5);
      transform: scale(2.5);
      opacity: 0;
    }
  }
  @-o-keyframes ripple {
    100% {
      -webkit-transform: scale(2.5);
      -ms-transform: scale(2.5);
      -o-transform: scale(2.5);
      transform: scale(2.5);
      opacity: 0;
    }
  }
  @-moz-keyframes ripple {
    100% {
      -webkit-transform: scale(2.5);
      -ms-transform: scale(2.5);
      -o-transform: scale(2.5);
      transform: scale(2.5);
      opacity: 0;
    }
  }

  .no-transition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }
}